{% extends 'temps/base.html'%} {% load bootstrap4 %} {% load static %} {% block content %}
<div class="container">
    <div class="col m12" style="margin-top: 8%;">
        {% if businesses %} {% for business in businesses %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card" style="width: 44rem; border: rgb(143, 156, 65) solid 1px;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name: {{business.name}}</li>
                        <li class="list-group-item">Description: {{business.description}}</li>
                        <li class="list-group-item">Owner: {{business.user}}</li>
                        <li class="list-group-item">Email: {{business.email}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div> <br> {%endfor%} {% else %}
        <h4 class="center-align" style="border-bottom: black solid 1px; margin-bottom: 2%;">There are no businesses registered in your Neighborhood</h4>
        {% endif %}
    </div>
    <!-- Modal Structure -->
    <div>
        <form action="{%url 'business' %}" method='post' enctype="multipart/form-data">
            <div class="modal-content">
                <h4>Add a Business</h4>

                {% csrf_token %} {{ form }}

            </div>
            <div class="modal-footer">
                <button type='submit' class="btn btn-danger" style="margin-right:20px;">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}