{% extends 'temps/base.html'%} {% load bootstrap4 %} {% load static %} {% block content %}
<div class="cointaner" style="margin-top: 8%;">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="text-center">
                <h4>Hotline Emergency Contacts</h4>
                <p>Police: 999 / +254 203 322 00 <br>Ambulance: 5674 / 020-20313939 <br>Fire Brigade: 2222181</p>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{%endblock%}