{% extends 'temps/base.html'%} {% load bootstrap4 %} {% load static %} {% block content %}
<div class="container">
    <div class="row" style="margin-top: 8%;">
        <div class="col-lg-3 col-md-3"></div>
        <div class="col-lg-6 col-md-6">
            <div class="header" style="border-bottom: 1px solid rgba(231, 4, 175, 0.904); text-align: center; margin-bottom: 2%;">
                <h5>UPLOAD YOUR POST</h5>
            </div>
            <form action="{%url 'post' %}" method="post" enctype="multipart/form-data">
                {%csrf_token%} {% bootstrap_form form%}
                <input type="submit" class="btn btn-sm" style="background-color: rgb(172, 24, 73); color: white;" value="Post">
            </form>
        </div>
        <div class="col-lg-3 col-md-3"></div>
    </div>
</div>
{% endblock %}